#dogWrap {
	display: flex;
	height: 15rem;
	flex-wrap: wrap;
	flex-basis: 33.3%;
	justify-content: space-evenly;
}

.dogDiv {
	height: inherit;
	margin: 1rem 0;
}

.dogPhoto {
	height: inherit;
}

.dogPhoto:hover {
	cursor: pointer;
}
